
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-pySpade Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for UT Southwestern biohpc
----------------------------------------------------------------------------------------
*/


manifest {
  description = 'Implementation of pySpade in nextflow'
  homePage = 'https://github.com/Hon-lab/nf-pySpade'
  author = 'Yihan Wang'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.0.0'
}



/*
 * Default parameters.
 * Please change the parameters according to your setup.
 */

params.outdir = "."

process {
	executor = 'slurm'
	queue = '256GB,256GBv1,384GB,512GB'
	time = '60d'
}

executor {
    name = 'slurm'
}

process.container = './pyspade_v0150.sif'
singularity.enabled = true
process.cpus = Runtime.runtime.availableProcessors()
