
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-pySpade Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for UT Southwestern biohpc
----------------------------------------------------------------------------------------
*/


manifest {
  description = 'Implementation of pySpade in nextflow'
  homePage = 'https://github.com/Hon-lab/nf-pySpade'
  author = 'Yihan Wang'
  mainScript = 'main.nf'
  nextflowVersion = '>=24.0.0'
}



/*
 * Default parameters.
 * Please change the parameters according to your setup.
 */

params.outdir = "."

process {
	executor = 'slurm'
	queue = '256GB,256GBv1,384GB,512GB'
	time = '60d'
}

executor {
    name = 'slurm'
}

/*
 * Container configuration - using latest version from Docker Hub
 * The container will be automatically pulled if not found locally
 */
process.container = 'docker://igvf/pyspade:pyspade_0.1.7'
singularity.enabled = true
singularity.autoMounts = true
singularity.pullTimeout = '60 min'
process.cpus = Runtime.runtime.availableProcessors()

/*
 * Enable resume capability for crash recovery
 */
resume = true

/*
 * Configure working directory
 */
workDir = './work'

/*
 * Enable execution reports with time and compute metrics
 */
report {
    enabled = true
    file = 'report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = 'dag.svg'
    overwrite = true
}
