
manifest {
  description = 'Implementation of pySpade in nextflow'
  author = 'Yihan Wang'
  nextflowVersion = '>=24.0.0'
}



/*
 * default params
 */

params.outdir = "."

process {
	executor = 'slurm'
	queue = '256GB,256GBv1,384GB,512GB'
	time = '60d'
}

executor {
    name = 'slurm'
}

process.container = './pyspade_v0150.sif'
singularity.enabled = true
process.cpus = Runtime.runtime.availableProcessors()
